@use "config" as *;

.logo {
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: rgba(#ccc, 0.3) solid 1px;
    justify-content: flex-start;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}

* {
  scrollbar-color: hsl(221, 39.3%, 12%) hsl(221, 39.3%, 15%); /* Firefox */
}

*::-webkit-scrollbar-track {
  background: hsl(221, 39.3%, 15%);
}

*::-webkit-scrollbar-thumb {
  background-color: hsl(221, 39.3%, 12%);
}