@use "config" as *;

.logo {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: rgba(#ccc, 0.3) solid 1px;
    justify-content: flex-start;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}