@use "config" as *;
@use "placeholders" as *;

.table-wrapper {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    
    .table {
        width: 100%;
        min-width: 600px;
        border-collapse: collapse;
        font-family: Arial, sans-serif;
        white-space: nowrap;

        .name-logo {
            display: flex;
            align-items: center;
            margin-right: 20px;
            
            .logo {
                height: 40px;
                width: 40px;
                margin-right: 20px;
            }
        }
        
    
        thead {
            background-color: hsl(221, 39.3%, 12%);
        }
    
        th,
        td {
            padding: 12px 16px;
            text-align: left;
        }
    
        tbody tr:nth-child(even) {
            background-color: hsl(221, 39.3%, 12%);
        }

        tbody tr:nth-child(odd) {
            background-color: hsl(221, 39.3%, 15%);
        }
    
        .clickable-row {
            cursor: pointer;
            transition: background-color 0.15s;
        }
        .clickable-row:hover {
            background-color: hsl(219, 35%, 9%);
        }
    }
}
