@use "config" as *;

.employee {
    .name {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        gap: 30px;

        h3 {
            font-size: 2rem;
            font-weight: bold;
        }

        .link-text {
            color: rgba(#ccc, 0.35);
        }
        
        @media (min-width: $break-point-small) {
            flex-direction:row;
        }
    }
    
    .dates {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-block: 30px;
    }

    h4 {
        font-size: 1.125rem;
        margin-block: 30px;
    }
}