@use "config" as *;

.index-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;

    @media (min-width: $break-point-small) {
        grid-template-columns: repeat(2, 1fr);
    }
}